<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4">
      <p align="left">
		  Department of Chemistry<br/>
      University of North Texas<br/>
		  Denton, TX 76201
      </p>
		</div>

	  <div class="col-sm-4">
      <center>
      <img src="{{ site.url }}/images/logopic/Logo_UNT_Chemistry.png" alt="Department of Chemistry, University of North Texas" width="100%">
      </center>
	  </div>

		<div class="col-sm-4">
     <p align="right"><br>
     &copy 2023 Ko Research Group<br>
<!--      (template: <a href="https://github.com/mpa139/allanlab">Allan Lab</a>) -->
     </p>
		</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
