<div id="footer" class="panel">
  <div class="panel-footer">
  <center>
    &copy 2023 Ko Research Group
  </center>
	<div class="container-fluid">
	  <div class="row">

	  <div class="col-sm-4">
      <center>
        <a href="https://chemistry.unt.edu/">
          <img src="{{ site.url }}/images/logopic/Logo_UNT_Chemistry.webp" alt="Department of Chemistry, University of North Texas" width="100%" height="100%">
        </a>
      </center>
	  </div>

		<div class="col-sm-4">
      <center>
        <a href="https://ko-research.org/">
          <img src="{{ site.url }}/images/logopic/Logo_Ko_Research_Group.webp" alt="Logo of Ko Research Group" width="30%"  height="30%"><br>
        </a>
      </center>
		</div>

		<div class="col-sm-4">
      <p align="center">
		  Department of Chemistry<br/>
      University of North Texas<br/>
		  Denton, TX 76201
      </p>
		</div>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
