
<div class="well">
  <h4>News</h4>

  {% for article in site.data.news limit:9 %}
  <p>{{ article.date }}<br>{{ article.headline | markdownify}}
{% if article.picture == ""  %}
{% else %}
    <img src="{{ site.url }}{{ site.baseurl }}/images/newspic/{{ article.picture }}" alt="News Picture" width="100%"/>
{% endif %}
{% if article.web_picture == ""  %}
{% else %}
    <img src="{{ article.web_picture }}" alt="News Picture (from Web)" width="100%"/>
{% endif %}
 </p>
  {% endfor %}

  <h5><a href="{{ site.url }}{{ site.baseurl }}/newsarchive.html">... news archive</a></h5>

</div>
